@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-footer-container {
  @apply flex items-center justify-between p-6 border-red-600 border-2 border-dotted rounded-b;
}

.save-btn {
  @apply px-6 py-2 p-1 font-bold border-emerald-700 border-2 bg-emerald-700 text-white uppercase rounded-md ease-linear transition-all duration-150 hover:text-emerald-700 hover:border-emerald-700 hover:bg-white disabled:opacity-75 disabled:hover:bg-emerald-700;
}

.close-btn {
  @apply px-6 py-2 p-1 font-bold text-white uppercase outline-none  rounded-md border-2 bg-red-500 border-red-500 ease-linear transition-all duration-150 hover:bg-white hover:text-red-500;
}